@tailwind base;
@tailwind utilities;
@tailwind components;

* {
  ::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background-color: #445059;
    border-radius: 0px 4px 4px 0px;
  }

  ::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background-color: #7F7D7A;
    border-radius: 4px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }
}

body {
  margin: 0;
  height: 100vh;
  user-select: none;
}

:root {
  @apply bg-bg-primary;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}


@layer base {

  @font-face {
    font-family: 'lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/lato/lato-300.woff2) format('woff2');
  }

  @font-face {
    font-family: 'lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/lato/lato-400.woff2) format('woff2');
  }

  @font-face {
    font-family: 'lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/lato/lato-700.woff2) format('woff2');
  }

  @font-face {
    font-family: 'lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/fonts/lato/lato-900.woff2) format('woff2');
  }


  html {
    font-family: "lato", system-ui, sans-serif;
  }
}
