@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  overscroll-behavior-y: contain;
}

:root {
  @apply bg-bg-primary p-4;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: auto;
}
